:root {
	--primary-color: #11999e;
	--bg-color: #ffffff;
	--fg-color: #3c3c3c;
	--red: #f05454;
	--darken: #0001;
	--hover-color: #f4f9f8;
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary-color: #ff79c6;
		--bg-color: #282a36;
		--fg-color: #f8f8f2;
		--red: #ff5555;
		--darken: #0003;
		--hover-color: #333549;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

body {
	background-color: var(--bg-color);
	width: 360px;
	color: var(--fg-color);
}

.main-header {
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: solid 1px var(--darken);
}

#main-title {
	margin: 0 0.5rem;
	font-weight: normal;
}

.icon {
	font-size: 20px;
	width: 1em;
	height: 1em;
}
.icon--plus {
	--size: 20px;
	position: relative;
}
.icon--plus::before,
.icon--plus::after {
	position: absolute;
	content: "";
	background-color: var(--primary-color);
}
.icon--plus::before {
	top: 50%;
	width: var(--size);
	height: 2px;
	transform: translateY(-50%);
}
.icon--plus::after {
	width: 2px;
	height: var(--size);
	left: 50%;
	transform: translateX(-50%);
}
.icon--btn {
	cursor: pointer;
	border-radius: 50%;
	padding: 0.5rem;
	transition: 0.3s background-color;
}
.icon--btn:hover {
	background-color: var(--darken);
}
.icon--back {
	--size: 10px;
	position: relative;
}
.icon--back::before {
	position: absolute;
	content: "";
	top: 50%;
	left: 35%;
	height: var(--size);
	width: var(--size);
	transform: rotate(-45deg);
	transform-origin: top left;
	border-left: solid 2px var(--primary-color);
	border-top: solid 2px var(--primary-color);
}
.content {
	position: relative;
	width: 360px;
	height: 400px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: var(--darken);
}

#tasks-list {
	position: absolute;
	inset: 0;
	display: flex;
	flex-direction: column;
	gap: 1px;
}

.task {
	padding: 0.8rem 1rem;
	background-color: var(--bg-color);
	transition-duration: 0.3s;
	transition-property: transform, background-color;
}
.task:hover {
	background-color: var(--hover-color);
	transform: translateX(-40px);
}

#add-task-menu {
	display: flex;
	flex-direction: column;
	gap: 1px;
	position: absolute;
	inset: 0;
	transform: translateX(100%);
}

.input,
input,
textarea,
select {
	padding: 0.8em;
	border: none;
	background-color: inherit;
	color: var(--fg-color);
	display: block;
	width: 100%;
	box-sizing: border-box;
	outline: none;
	font-size: 1rem;
}

.input[contenteditable]:empty::before {
	content: attr(placeholder);
	color: var(--fg-color);
}

.form__field {
	display: flex;
	background-color: var(--bg-color);
	align-items: center;
	position: relative;
}
.form__field:focus-within {
	background-color: var(--hover-color);
	outline: 2px solid var(--primary-color);
	outline-offset: -2px;
}
.form__field .icon {
	margin-left: 0.8rem;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
	position: absolute;
	inset: 0;
	width: auto;
	height: auto;
	color: transparent;
	background: transparent;
}

svg {
	display: block;
}

.hidden {
	display: none;
}

.slide-out {
	animation: slide-out 0.3s both cubic-bezier(1, 0, 0, 1);
}

.slide-in {
	animation: slide-in 0.3s both cubic-bezier(1, 0, 0, 1);
}

.slide-back-in {
	animation: slide-back-in 0.3s both cubic-bezier(1, 0, 0, 1);
}

.slide-back-out {
	animation: slide-back-out 0.3s both cubic-bezier(1, 0, 0, 1);
}

@keyframes slide-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

@keyframes slide-in {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes slide-back-out {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%);
	}
}

@keyframes slide-back-in {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0);
	}
}
