* {
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.hide {
    display: none;
}

.form>* {
    margin: 5px auto;
    padding: 5px;
}

#date,
#time {
    width: 48%;
}

#about {
    width: 100%;
}

.task {
    margin: 5px auto;
    background-color: rgba(199, 194, 194, 0.281);
    box-shadow: 1px 2px 2px #888888;
}

.task_detail {
    padding: 5px;
}

.done {
    cursor: pointer;
    background-color: rgb(48, 179, 48);
    color: white;
    font-size: 35px;
    padding: 5px;
}

.done:hover {
    background-color: rgb(63, 175, 156);
}

.time {
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}

.about,
textarea,
input,
button {
    font-family: 'Courier New', Courier, monospace;
}

button {
    background-color: blueviolet;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 5px 20px;
}